In [2]:
#Esercizio Abbiamo una lista di liste: Che tipo di struttura dati o matematica potrebbe rappresentare? 
#Notare che tutte le liste "interne" sono della stessa dimensione Come facciamo per accedere ad un elemento in particolare?

In [4]:
# Lista di liste rappresentante una matrice
mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]

# La matrice in questione ha una struttura tabellare e per accere ad un elemente in particolare bisogna indicare i doppi indici
elemento = mat[1][2]  # La numerazione degli indici inizia da 0
print("Elemento alla seconda riga e terza colonna:", elemento)

Elemento alla seconda riga e terza colonna: 7

In [ ]:
#Esercizio Importiamo il modulo math e proviamo a usare le funzioni 
#.sin() .cos() .factorial() e la variabile .pi la riconoscete?

In [7]:
import math

# Calcola il seno di 45 gradi (pi/4 radianti)
seno_45 = math.sin(45)
print("Seno di 45 gradi:", seno_45)

# Calcola il coseno di 30 gradi (pi/6 radianti)
coseno_30 = math.cos(30)
print("Coseno di 30 gradi:", coseno_30)

# Calcola il fattoriale di 5
fattoriale_5 = math.factorial(5)
print("Fattoriale di 5:", fattoriale_5)

# Stampa il valore di pi greco
print("Il valore di pi (π) è:", math.pi)

Seno di 45 gradi: 0.8509035245341184
Coseno di 30 gradi: 0.15425144988758405
Fattoriale di 5: 120
Il valore di pi (π) è: 3.141592653589793

In [9]:
# Converte pi greco da radianti a gradi
gradi = math.degrees(math.pi)
print("Pi greco in gradi:", gradi)

Pi greco in gradi: 180.0

In [10]:
#Esercizio L'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni mese nell'ultimo anno: 
#trasformiamola in un array NumPy (casting): lst = np.array(lst) e rispondiamo alle domande del CEO della Object SpA: 
#• qual è stata la vendita massima mensile? E quella minima? 
#• quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono? 
#• quali sono le vendite minori di 3000 oggetti? 
#• in media quanti oggetti sono stati venduti a

In [11]:
import numpy as np

# Lista delle vendite mensili
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]

# Trasformiamo la lista in un array NumPy
lst = np.array(lst)

# Vendita massima mensile
vendita_massima = np.max(lst)
print("Vendita massima mensile:", vendita_massima)

# Vendita minima mensile
vendita_minima = np.min(lst)
print("Vendita minima mensile:", vendita_minima)

# Vendite mensili maggiori di 4999 oggetti
vendite_maggiori_di_4999 = lst[lst > 4999]
print("Vendite mensili maggiori di 4999 oggetti:", vendite_maggiori_di_4999)
print("Numero di vendite maggiori di 4999 oggetti:", len(vendite_maggiori_di_4999))

# Vendite minori di 3000 oggetti
vendite_minori_di_3000 = lst[lst < 3000]
print("Vendite mensili minori di 3000 oggetti:", vendite_minori_di_3000)

# Media delle vendite mensili
media_vendite = np.mean(lst)
print("Media delle vendite mensili:", media_vendite)

Vendita massima mensile: 8150
Vendita minima mensile: 1280
Vendite mensili maggiori di 4999 oggetti: [5500 7200 6410 8150 7100 5350]
Numero di vendite maggiori di 4999 oggetti: 6
Vendite mensili minori di 3000 oggetti: [2000 1280 1900 2500]
Media delle vendite mensili: 4634.166666666667

In [13]:
#Consideriamo il seguente dizionario: 
#fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000} 
#Consideriamo ora la seguente Series: fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000],
#+ index=range(1997, 2005)) Possiamo accedere alle stesse informazioni nello stesso modo: fatturati_dict[1997] fatturati_series[1997] 
#Dunque qual è la differenza tra i due tipi di dato? 
#Cosa potremmo fare con la Series che non possiamo fare con il dizionario?

In [14]:
#I dizionari non mantengono un ordine specifico degli elementi, mentre le Series di pandas sono ordinate in base agli indici.
#Le Series di pandas offrono molte funzionalità aggiuntive per l'analisi e la manipolazione dei dati.

In [ ]:
#Esercizio L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti, 
#memorizzato in un ndarray: 
#import numpy as np stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] ) 
#L'azienda ci chiede di raddoppiare tutti gli stipendi; facciamolo in due modi: 
#• con un ciclo for 
#• con il masking

In [15]:

# Array degli stipendi
stipendi = np.array([100, 200, 300, 400, 500, 600, 700, 800, 900, 1000])

# Raddoppiamo gli stipendi con un ciclo for
for i in range(len(stipendi)):
    stipendi[i] *= 2

print("Stipendi raddoppiati con un ciclo for:", stipendi)

Stipendi raddoppiati con un ciclo for: [ 200  400  600  800 1000 1200 1400 1600 1800 2000]

In [16]:
import numpy as np

# Array degli stipendi
stipendi = np.array([100, 200, 300, 400, 500, 600, 700, 800, 900, 1000])

# Raddoppiamo gli stipendi utilizzando il masking
stipendi_raddoppiati = stipendi * 2

print("Stipendi raddoppiati con il masking:", stipendi_raddoppiati)

Stipendi raddoppiati con il masking: [ 200  400  600  800 1000 1200 1400 1600 1800 2000]